<header>
    <div class="container">
        <a routerlink="/" class="logo">أحلى الفطائر</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/login">تسجيل الدخول</a>
                </li>
                <li class="menu-container">
                    <a routerLink="/dashboard"> Reem </a>
                    <div class="menu">
                    <a routerLink="/profile">الصفحة الشخصية</a>
                    <a routerLink="/orders">الطلبات</a>
                    <a  routerLink="/logout">تسجيل الخروج</a>
                </div>

                </li>
                <li>
                    <a routerLink=".cart-page">
                        السلة <span>3</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>