<header>
    <div class="container">
        
        <a routerLink="/" class="logo">أحلى الفطائر</a>

        
        <nav>
            <ul>
                <li>
                    <a routerLink="/login" *ngIf="!isAuth">تسجيل الدخول</a>
                </li>
                <li class="menu-container" *ngIf="isAuth">
                    <a routerLink="/dashboard"> {{user.name}}</a>
                    <div class="menu">
                    <a routerLink="/profile">الصفحة الشخصية</a>
                    <a routerLink="/orders">الطلبات</a>
                    <a  (click)="logout()">تسجيل الخروج</a>
                </div>

                </li>
                <li>
                    <a routerLink="./cart-page">
                        السلة <span *ngIf="cartQuantity">{{cartQuantity}}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>