<div class="container">
    <div class="details">

        <app-title title="Login"></app-title>

        <form [formGroup]="loginForm" (ngSubmit)="submit()">
           
           <text-input 
           [control]="fc.email"
           [showErrorsWhen]="isSubmitted"
           type="email"
           label="Email"
           ></text-input>

           <text-input 
           [control]="fc.password"
           [showErrorsWhen]="isSubmitted"
           type="password"
           label="Password"
           ></text-input>

            <!-- <div class="input-containor">
                <label>Password</label>
                <div>
                    <input type="password" placeholder="Password" formControlName ="password"/>
                </div>
                
                <div class="error-list" *ngIf="fc.password.errors && isSubmitted">
                    <div *ngIf="fc.password.errors.required">Should not be empty</div>
                    </div>
            </div> -->

            <default-button text="LogIn"></default-button>

        </form>
    </div>
</div>